export(dcast, acast)
import(plyr)
import(stringr)
export(colsplit)
export(add_margins)
export(melt)
S3method(melt, default)
S3method(melt, list)
S3method(melt, data.frame)
S3method(melt, matrix)
S3method(melt, array)
export(recast)
